.img-fluid {
	max-width: 80%;
}

.father {
	display: flex;
	flex-direction: row;
    justify-content: space-evenly;
}
.w-50 {
    width: 40% !important;
}

.ph-ramadan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.con {
    display: flex;
    align-items: center;
    justify-content: center;
}
